name: Unit tests

on:
  push:
    branches-ignore:
      - main
    paths:
      - "api-server/**"
      - ".github/workflows/api-unit-tests.yml"

jobs:
  test-api:
    name: API
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./api-server

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "./api-server/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
