name: E2E tests

on:
  push:
    branches-ignore:
      - main
    paths:
      - "atm/**"
      - ".github/workflows/atm-e2e-tests.yml"

jobs:
  test-atm:
    name: ATM
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./atm

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "./atm/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run e2e tests
        run: npm test
